body {
	font-family: 'Aclonica', sans-serif;
	background-color: #bfd8d9;
}


table tr td  {
	height: 160px;
	width: 160px;
	border: 3px solid #bfd8d9;
	border-radius: 10px;


}
h1 {
	text-align: center;
	margin-top: 20px;
	color: #bfd8d9;
	font-size: 40px;

}
.scoreBox {
	margin-left: 210px;
	font-size: 30px;
	margin-top: 0;
	color: #bfd8d9;
}

.total {
	display: inline-block;
	padding-right: 100px;


}

table {

	margin: 0 auto;
	margin-bottom: 20px;
}

.box {
	text-align: center;
	font-size: 50px;
	color: white;
}
.box:hover {
	background-color: rgba(47, 79, 80, .8);
	color: #1c2f30;
}

button {
	height: 50px;
	width: 200px;
	font-size: 30px;
	margin: auto;
	display: block;
	font-family: 'Aclonica', sans-serif;
	border-radius: 10px;

}


button:hover {
	background-color: #cfe1e2;
	color: white;


}


.container {
	width: 700px;
  position: relative;
	margin: 0 auto;
	background-color: #263f40;
	padding: 20px;
}
.scoreX {
	height: 40px;
	width: 50px;
	float: left;
	position: absolute;
	top: 590px;
  color: #cfe1e2;
	font-size: 30px;
}

.scoreO {
	height: 40px;
	width: 50px;
	float: left;
	position: absolute;
	top: 590px;
  color: #cfe1e2;
	font-size: 30px;
}



h3 {
	display: inline-block;
	margin: 0 auto;
	padding-top: 0;
	padding-right: 10px;
}

@media (max-width: 611px) {
	.scoreX, .scoreO {
		height: 20px;
		width: 30px;
		font-size: 10px;
		position: absolute;
		top: 70px;
		position: absolute;
    top: 485px;
    margin: -30px;

	}

	table tr td {
		width: 120px;
		height: 120px;
	}
	button {
		height: 50px;
		width: 150px;
		font-size: 20px;
	}

	h1 {
		font-size: 25px;
	}

	body {
		background-color: lightgrey;
		color: white;
	}

	.box {
		font-size: 30px;
	}
}


@media (max-width: 375px) {
	table tr td {
		width: 320px;
		height: 320px;
	}
}









@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(10px, 0, 0);
  }


	100% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0)
	}


}
.bounceInLeft {
  animation: bounceInLeft 2s ;
}







@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
	}


}

.bounceOutLeft {
  animation: bounceOutLeft 2s;
}
