body {
	font-family: 'Aclonica', sans-serif;
}


table tr td  {
	height: 180px;
	width: 180px;
	border: 1px solid black;


}
h1 {
	text-align: center;
	margin-top: 50px;

}

table {

	margin: 0 auto;
	margin-bottom: 20px;
}

.box {
	text-align: center;
	font-size: 50px;
}
.box:hover {
	background-color: black;
	color: white;
}

button {
	height: 50px;
	width: 200px;
	font-size: 30px;
	margin: auto;
	display: block;
	font-family: 'Aclonica', sans-serif;

}


button:hover {
	background-color: #FF8FAF;
	color: white;


}





.container {
	width: 100%;

	position: relative;
}
.scoreX {
	height: 40px;
	width: 50px;
	position: absolute;
	top: 635px;
	left: 353px;
	border: 2px solid black;
	font-size: 30px;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
}

.scoreO {
	height: 40px;
	width: 50px;
	position: absolute;
	top:635px;
	right: 353px;
	border: 2px solid black;
	font-size: 30px;
  display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-top: 10px;
}

@media (max-width: 375px) {
	.scoreX, .scoreO {
		height: 20px;
		width: 30px;
		font-size: 10px;
		position: absolute;
		top: 70px;
		position: absolute;
    top: 485px;
    margin: -30px;

	}

	table tr td {
		width: 120px;
		height: 120px;
	}
	button {
		height: 50px;
		width: 150px;
		font-size: 20px;
	}

	h1 {
		font-size: 25px;
	}

	body {
		background-color: lightgrey;
		color: white;
	}

	.box {
		font-size: 30px;
	}
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation: zoomOut 4s;
}

/*.red {
	background-color: #FF8FAF;
	color: white;s
}*/
